[alias]
    co = checkout
    st = status
    tree = log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all
    identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1$
[color]
    ui = auto
[user]
    useConfigOnly = true
[commit]
    gpgsign = true
