[alias]
    co = checkout
    st = status
    tree = log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
[user]
    # Don't guess the user's identity.
    # https://github.com/git/git/blob/90f7b16b3adc78d4bbabbd426fb69aa78c714f71/Documentation/config.txt#L2847-L2855

    useConfigOnly = true
